.builders {
    padding: 3rem 1rem;
    margin-bottom: 6rem;
}

.builders__heading {
    font-size: 36px;
    margin-bottom: 3rem;
    color: var(--yellow-green);
    text-align: center;
    font-weight: 400;
}

.builders__heading::after {
    content: '';
    display: block;
    background-color: currentColor;
    height: 2px;
    width: 30px;
    margin: 1rem auto 0;
}

.builders__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 320px));
    gap: 2rem;
    justify-content: center;
    width: 100%;
}